@mixin btn_standard{
  color: white;
  border-radius: 15px;
  font-weight: bold; 
  transition: background-color 0.3s ease; 
}
Button.contained{
    background-color: var(--seaGreen);
    @include btn_standard;
  }
Button.outlined{
    background-color: var(--mossGreen);
    @include btn_standard;
  }

Button.contained:hover, Button.outlined:hover {
    background-color: var(--forestGreen); 
  }
.fab{
    background-color: var(--mossGreen);
    color: white;
    transition: background-color 0.3s ease; 
  }
.fab:hover {
    background-color: var(--niceBrown); 
  }
