Button.contained{
    background-color: var(  --seaGreen);
    color: white;
    padding: 1rem 2rem; 
    border-radius: 5px;
    font-weight: bold; 
    transition: background-color 0.3s ease; 
  }
Button.contained:hover {
    background-color: var(--forestGreen); 
  }
Button.outlined{
    background-color: var(--mossGreen);
    color: white;
    padding: 1rem 2rem; 
    border-radius: 5px; 
    font-weight: bold; 
    border: 2px solid white; 
    transition: background-color 0.3s ease; 
  }
Button.outlined:hover {
    background-color: var(--tealBlue); 
  }
.fab{
    background-color: var(--mossGreen);
    color: white;
    padding: 1rem 2rem; 
    border-radius: 5px; 
    font-weight: bold; 
    border: 2px solid white; 
    transition: background-color 0.3s ease; 
  }
.fab:hover {
    background-color: var(--tealBlue); 
  }
