.code_rep_btn{
    background-color: white;
    color: rgb(25, 118, 210);
}
.intro_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
CardMedia.image {
    border-radius: 15px;
    object-fit: unset;
    width: 40vw;
    height: auto;
  
  
  @media (min-width: 601px) {
        width: 27vw;
      height: auto;
    }
  
  
  @media (min-width: 1025px) {
        width: 12vw;
        height: auto;
    }
    max-height: 150px;
}
.img-container{
    display: flex;
    justify-content: center;
}
.url_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .projects_nav_btn {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .projects_nav_btn button {
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  .projects_nav_btn button:hover {
    background-color: #4CAF50; /* Moss green background on hover */
  }