:root {
  --mossGreen: #4CAF50; 
  --darkOliveGreen: #556B2F;
  --oliveDrab: #6B8E23;
  --artichoke: #8F9779;
  --oxley: #739973;
  --fernGreen: #4F7942;
  --laurelGreen: #7A9B76;
  --armyGreen: #4B5320;
  --lawnGreen: #7CFC00;
  --polishedPine: #6AAB8E;
  --camouflageGreen: #78866B;
}
html, body {
  height: 100%;
  margin: 0%;
  font-family: 'Playfair Display', serif;
}
body {
  background-color: var(--oxley); 
}

