:root {
  --mossGreen: #4CAF50; 
  --niceBrown: #8B4513;
  --deepBlue: #00008B; 
  --tealBlue: #008080; 
  --lightBlue: #add8e6b5; 
  --forestGreen: #228B22; 
  --seaGreen: #2E8B57; 
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Times New Roman', serif;
}
html, body {
  height: 100%;
  margin: 0%;
}